{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Login | Reservation System</title>   
</head>
<body>

<div class="login-container">
    <div class="logo">Reservation System</div>
    <h2>Login</h2>

    <form id="loginForm">
        <!-- Django CSRF Token -->
        {% csrf_token %}

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>

        <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="extra-links">
        <p>Don't have an account? <a href="{% url 'signup-page-view' %}">Sign up</a></p>
    </div>
</div>

</body>
</html>

<!-- AJAX Script -->
<script>
    document.getElementById("loginForm").addEventListener("submit", async function(e) {
        e.preventDefault(); // to stop default form submit
        
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const response = await fetch("/api/auth/login/", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify({email, password}) // Server wants a resnponse of JSON text format so we need to convert json object into text
            
            // example: 
            // Before stringify { email: "nabil@email.com", password: "123456"} 
            // After stringify "{\"email\":\"nabil@email.com\",\"password\":\"123456\"}"
        })
        
        // the response is an JSON test so we have to convert it into json format and store it in 'data'
        // the .json() function uses parse() inside it. So the text reponse will be converted into JSON object
        const data = await response.json(); 

        if(response.status === 200){
            // store the tokens
            // localStorage.setItem("access_token", data.access_token);
            // localStorage.setItem("refresh_token", data.refresh_token);
            
            // using cookies instead of localStorage for better security
            document.cookie = `access_token=${data.access_token}; path=/; SameSite=Lax`;
            document.cookie = `refresh_token=${data.refresh_token}; path=/; SameSite=Lax`;

            window.location.href = "/api/dashboard/";
        }
        else{
            alert(data.message);
        }
        
    });
</script>